<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="/javascripts/jquery-2.0.3.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/mycode.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to SSUET CEP</p>
    <input id="register" type="button" class="btn-success" value="Register">
  </body>
</html>