<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pricing</h1>
    <div>
        Biryani : 150
        Haleem  : 100
    </div>
  </body>
</html>