<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <div hello>

        </div>

        <div bold-Text>

        </div>


        Hello start
      <div ng-view></div>
  Hello end
  </body>

  <script src="/javascripts/vendors/angular.js"></script>
  <script src="/javascripts/vendors/angular-resource.min.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/CandidateController.js"></script>
  <script src="/javascripts/services.js"></script>
  <script src="/javascripts/directive.js"></script>
</html>